/* CSS Zen Garden - Start from scratch */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* GLOBAL STYLES */

html {
	margin: 0;
	padding: 0;
	}

body { 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: rgb(70,70,70);
	line-height: 1.2em;
	background-color: rgba(204,193,171,.7); 
	margin: 0; 
	padding: 0;
	}

div, article, section, header, footer, nav, figure, li {
	position: relative;
}

h1 {
	font-size: 2em;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-transform: uppercase;
}

h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a {
	color: white;
}

a:hover {
	color: rgb(224,213,191);
}

ul li {
	list-style-type: none;
}

/* HEADER */

header {
	background-color: rgb(108,140,138);
	color: white;
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
	height: 110px;
	opacity: .7;
	transition: opacity 1s;
}

header:hover {
	opacity: 1;
}



/* SUMMARY P */

div#zen-summary {
	background-color: rgb(53,179,214);
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
	width: 63%;
	opacity: .7;
	transition: opacity 1s;
}

div#zen-summary:hover {
	opacity: 1;
}



/* MAIN CONTENT */

/*THE ROAD TO ENLIGHTENMENT */

div#zen-preamble {
	background-color: rgb(255,175,211);
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
	width: 63%;
	opacity: .7;
	transition: opacity 1s;
}

div#zen-preamble:hover {
	opacity: 1;
}

/* SO WHAT IS THIS ABOUT? */

div#zen-explanation {
	background-color: rgb(107,204,127);
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
	width: 49%;
	opacity: .7;
	transition: opacity 1s;
}

div#zen-explanation:hover {
	opacity: 1;
}

/* PARTICIPATION */

div#zen-participation {
	background-color: rgb(53,179,214);
	margin: 15px;
	padding: 10px 10px 2px 10px;
	border-radius: 10px;
	width: 44%;
	position: absolute;
	top: 8%;
	right: 0;
	opacity: .7;
	transition: opacity 1s;
}

div#zen-participation:hover {
	opacity: 1;
}

/* BENEFITS */

div#zen-benefits {
	background-color: rgb(255,175,211);
	margin: 15px;
	padding: 10px 10px 20px 10px;
	border-radius: 10px;
	width: 49%;
	opacity: .7;
	transition: opacity 1s;
}

div#zen-benefits:hover {
	opacity: 1;
}

/* REQUIREMENTS */

div#zen-requirements {
	background-color: rgb(107,204,127);
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
	opacity: .7;
	transition: opacity 1s;
}

div#zen-requirements:hover {
	opacity: 1;
}

/* NAV LINK BOX */

aside.sidebar {
	background-color: rgb(107,204,127);
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
	width: 30%;
	position: absolute;
	top: 130px;
	right: 0;
	opacity: .7;
	transition: opacity 1s;
}

aside.sidebar:hover {
	opacity: 1;
}



/* FOOTER */

footer {
	background-color: rgb(108,140,138);
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
	opacity: .7;
	transition: opacity 1s;
}

footer:hover {
	opacity: 1;
}


